h1{
    color: gold;
}
p{
    background-color: lightgreen;
}
#box{
    width: 70px;
    height: 70px;
    background-color: red;
    margin: 30px;
    padding: 10px;
    border: 10px dashed blue;
}
